<div class="background">
  <div class="hero">
    <div class="hero-text">
      <h1>Willkommen bei Pizzeria Grewal!</h1>
      <p>Entdecken Sie die beste Pizza in der Stadt. Frische Zutaten, einzigartige Aromen und ein wunderbarer Lieferservice.</p>
      <a routerLink="/menu" class="button">Speisekarte anzeigen</a>
    </div>
    <div class="hero-image">
      <img src="assets/images/pizza.jpg" alt="Pizza">
    </div>
  </div>
  <div class="container">
    <div class="reviews">
      <h2>Unsere Google-Bewertungen</h2>
      <div class="review" *ngFor="let review of reviews">
        <div class="review-content">
          <h3>{{review.author_name}}</h3>
          <p>{{review.text}}</p>
        </div>
        <div class="review-rating">
          <p>Bewertung: {{review.rating}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d158629.80361839948!2d6.274783768030775!3d51.59406478890515!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47b885d23581a8c7%3A0xbe8b13e0926c5a81!2sPizzeria%20Grewal!5e0!3m2!1sde!2sde!4v1715981322455!5m2!1sde!2sde" width="1000" height="450" style="border:0;" allowfullscreen="true" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</div> 