<div class="background">
  <div class="hero">
    <div class="hero-text">
      <h1>Willkommen bei Pizzeria Grewal!</h1>
      <p>Entdecken Sie eine wundervolle kulinarische Reise mit Pizzeria Grewal. Frische Zutaten, einzigartige Aromen und ein wunderbarer Lieferservice.</p>
      <a routerLink="/menu" class="button">Speisekarte anzeigen</a>
    </div>
    <div class="hero-image">
      <img src="assets/images/pizza.jpg" alt="Pizza">
    </div>
  </div>
  <div class="container">
    <div class="reviews">
      <h2>Unsere Google-Bewertungen</h2>
      <div class="review" *ngFor="let review of reviews">
        <div class="review-content">
          <h3>{{review.author_name}}</h3>
          <p>{{review.text}}</p>
        </div>
        <div class="review-rating">
          <p>Bewertung: {{review.rating}}</p>
        </div>
      </div>
    </div>
    <div class="pizzeria-directions">
      <h2>Unsere Pizzeria</h2>
      <p>
        Besuchen Sie uns in unserer gemütlichen Pizzeria. 
        Klicken Sie auf den Link unten, um die Wegbeschreibung zu erhalten:
      </p>
      <a href="https://www.google.com/maps/dir/?api=1&destination=Your+Pizzeria+Address" class="button">
        Wegbeschreibung auf Google Maps
      </a>
      <div class="hero-image">
        <img src="assets/images/outdoor.jpg" alt="outdoor">
      </div>
    </div>
  
    <div class="pizzeria-reviews">
      <h2>Bewertungen</h2>
      <p>
        Wir freuen uns über Ihre Bewertung! Teilen Sie Ihre Erfahrungen mit uns:
      </p>
      <a href="https://www.google.com/maps/place/Your+Pizzeria+Address/reviews" class="button">
        Bewertungen auf Google Maps abgeben
      </a>
    </div>
  </div>
</div> 