<div class="background">
  <div class="hero">
    <div class="hero-text">
      <h1>Willkommen bei Pizzeria Grewal!</h1>
      <p>Entdecken Sie die beste Pizza in der Stadt. Frische Zutaten, einzigartige Aromen und ein wunderbarer Lieferservice.</p>
      <a routerLink="/menu" class="button">Speisekarte anzeigen</a>
    </div>
    <div class="hero-image">
      <img src="assets/images/pizza.jpg" alt="Pizza">
    </div>
  </div>
  <div class="container">
    <div class="reviews">
      <h2>Unsere Google-Bewertungen</h2>
      <div class="review" *ngFor="let review of reviews">
        <div class="review-content">
          <h3>{{review.author_name}}</h3>
          <p>{{review.text}}</p>
        </div>
        <div class="review-rating">
          <p>Bewertung: {{review.rating}}</p>
        </div>
      </div>
    </div>
  </div>
</div> 